body {
    background-color: var(--my-bg-secondary);
}

.login-wrapper {
    padding: 24px;
    box-shadow: var(--shadow-all-sm);
    border-radius: var(--radius-xl);
    background-color: var(--my-white);
}

.login-wrapper .submit-btn {
    width: 100%;
}